@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="menu-index">
        <div class="menu-home">Gerar uma Prova</div>
        <div>Provas</div>
        <div>Professores</div>
        <div><a href="@Url.Action("CadastroDisciplina", "Home")">Disciplinas</a></div>
        <div>Questões</div>
        <div><a href="@Url.Action("CadastroFuncao", "Home")">Funções</a></div>
        <div><a href="@Url.Action("CadastroPolo", "Home")">Polos</a></div>
        <div><a href="@Url.Action("CadastroDificuldade", "Home")">Dificuldade</a></div>
    </nav>
   
</body>
</html>